@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Faster+One|Londrina+Shadow|Squada+One&display=swap');

body {
    background-image: url('/assets/busMall.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 900px;
    max-height: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    text-align: center;
    font-size: 5rem;
    color: darkkhaki;
    text-shadow: 0px 2px 2px rgba(7, 7, 7, 0.4); 
}

a {
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
    color: wheat;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: wheat;
}

#products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.product-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid darkkhaki;
    object-fit: cover;
    box-shadow: 0px 2px 2px rgba(7, 7, 7, 0.4);
}  

button.product-button {
    border-width: 0;
    background:none;
    border-color: none;
    border-style: none;
}

button.result-button {
    background-color: orange;
    border: 1px solid red;
    height: 100px;
    width: 222px;
    color: darkmagenta;
    font-weight: bold;
    font-size: 2em;
}

button.result-button:hover {
    background-color: green;
}

button:hover {
    cursor: pointer;
}

button.product-button:hover, 
.product-image:hover {
    width: 260px;
    height: 260px;
}